# MongoDB connection string
# Local:   mongodb://localhost:27017/ml_dashboard
# Atlas:   mongodb+srv://<user>:<password>@cluster.mongodb.net/ml_dashboard
MONGO_URI=mongodb://localhost:27017/ml_dashboard

PORT=5000
